.logo {
  height: 50px;
  background: url(http://isaev.store/www/Web-dew12/rs/img/logo.png) -7% no-repeat;
  background-size: 170px;
  margin: 16px;
}

.sub-menu a {
  color: rgba(255, 255, 255, 0.65) !important;
  &:hover {
    color: #fff !important;
  }
}